<div class="user-details">
  <h1>My Expertise</h1>
  <p>{{ site.user_description }}</p>
</div>
<div class="user">
  <div class="tech">
    <h2>Deal with code</h2>
    <p>I'm handling ability to make service to the world getting better like web-developing as Front-end, Back-end and Making native application on other platforms or more</p>
  </div>
  <div class="tech">
    <h2>Problem Solve</h2>
    <p>I mainly use C++, Java, Python to solve problems</p>
  </div>
  <div class="tech">
    <h2>Make world better</h2>
    <p>I hope the world better and I will certainly contribute it</p>
  </div>
  <div class="tech">
    <h2>Other</h2>
    <p>Handling Linux, Using Git, Interested in AI science, and Having elementry knowledges(Calculus, Statistics, General Physics etc..)</p>
  </div>
</div>
