<div class="user-details">
  <h1>My Expertise</h1>
  <p>{{ site.user_description }}</p>
</div>
<div class="user">
  <div class="tech">
    <h2>Deal with code</h2>
    <img href="../images/1200px-ISO_C++_Logo.svg.png">
    <p>I'm handling ability to make service to make the world better like web-developing as Front-end, Back-end and native application on other platforms or more</p>
  </div>
  <div class="tech">
    <h2>Problem Solve</h2>
    <p>I mainly use C++, Java, Python to solve problems</p>
  </div>
  <div class="tech">
    <h2>Make world better</h2>
    <p>I hope the world better, and I contributed it with my abilities</p>
  </div>
</div>
